body {
	margin: 0;
	/*min-width: 993px;*/
	overflow: scroll;
}

.waverow {
	margin: 0;
	height: 523px;
	min-width: 993px;
	/*margin-bottom: 10px;*/
	background-image: url('images/waves.jpg') ;
	background-size: cover;
	position: relative;
}
			.overlay {
				height: 523px;
				width: 100%;
				background-color: rgb(24,103,173);
				opacity: 0.9;
				top: 0;
			}
			.lhead img {
				color: #003366;
				position: absolute;
				top: 10px;
				margin-left: 10%;
			  
			}
			.lhead span {
				color: #003366;
				position: absolute;
				top: 22px;
				margin-left: 12%;
				font-size: 17px;
				font-family: 'Asap', Helvetica, sans-serif;
				
			}
			
			.rhead {
				font-family: 'Oswald', Helvetica, sans-serif;
				font-size: 17px;
				color: #003366;
				position: absolute;
				top: 20px;
				text-align: right;
				padding-left: 36%;
				width: 50%;
			 	
			}
			.mhead {
				font-family: 'Pt Sans Narrow', Helvetica, sans-serif;
				font-size: 107px;
				color: #FFFFFF;
				position: absolute;
				top: 198px;
				text-align: center;
			   	width: 100%;

				z-index: 2;
			}
			.subhead{
				font-family: 'Asap';
				font-size: 17px;
				color: #003366;
				position: absolute;
				top: 313px;
				text-align: center;
			   	width: 100%;
				z-index: 2;
			}

.main {
	width: 1020px;
	height: 1020px;
	margin: 0 auto;
	position: relative;
}

.articlecol {
	float: left;
	height: 1006px;
	margin-left: 12px;
	margin-bottom: 10px;
	width: 630px;
}
			.ahead {
				font-family: 'Oswald', Helvetica, sans-serif;
				font-size: 65px;
				color: #083452;
				margin-top: 60px;
				line-height: 73px;
			}
					.articlecol img {
						height: 21px;
						width: 21px;
						display: inline;
					}
					.author {
						font-family: 'Asap' ;
						font-size: 13px;
						color: #106db3;
						display: inline-block;
					}
					.date {
						
						font-size: 13px;
						color: #a9b8c3;
						display: inline;
					}
			.txt1 {
				font-family: 'Asap';
				font-size: 16px;
				color: #666666;
				margin-top: 18px;
				line-height: 30px;
				margin-bottom: 10px;
			}
			.txt1 br {
				line-height: 54px;
			}
			.rad {
				font-family: 'Asap';
				font-size: 27px;
				color: #106db3;
				border-color: #d3d3d3;
				height: 44px;
				border-left: solid gray thin;
				padding-top: 17px;
				padding-left: 20px;
			}
			.txt2 {
				font-family: 'Asap';
				font-size: 17px;
				color: #666666;
				line-height: 26px;
				margin-top: 46px;

			}
			.break {
				line-height: 29px;
			}
			.articon {
				float: left;
				margin-top: 1px;
			}
.infocol {
	float: right;
	height: 1006px;
	margin-left: 5px;
	margin-bottom: 10px;
	max-width: 278px;
}
			.info p {
				font-family: Asap, Helvetica, sans-serif;
				font-size: 19px;
				color: #106db3;
			}
			.info span {
				font-family: 'Asap';
				font-size: 19px;
				color: #a9b8c3;
			}

			.sectionh span {
				font-family: 'Oswald', 'sans-serif';
				font-size: 15px;
				color: #a9b8c3;
			}
			.sectionh p {
				font-family: 'Oswald', 'sans-serif';
				font-size: 19px;
				color: #0066cc;
			}
			.ad p {
				font-family: 'Asap';
				font-size: 16px;
				color: #a9b8c3;
			}



.posthead {
	clear: both;
	height: 147px;
	border-top: solid gray thin;
	margin: 0 auto;
	margin-top: 1px;
}
			.posthead h3 {
				font-family: 'Oswald', Helvetica, sans-serif;
				font-size: 67px;
				color: #083452;
				text-align: center;
			}
.postlink {
	height: 330px;
	width: 1320px;
	
	position: relative;
	margin: 0 auto;
	
}			
			.postlink img {
				display:inline-block;
				max-width: 325px;
				height: 330px;
				float: left;
				
				}
.foot {
	height: 97px;
	background-color: #083452;
}
			.foot span {
				font-family: 'Asap';
				font-size: 16px;
				color: #99cccc;
				display: inline-block;
			}
			.foot p {
				font-family: 'Asap';
				font-size: 16px;
				color: #99cccc;
				display: inline-block;
			}